{{ define "main" }}
  <div>
  <h1>{{ .Title }}</h1>

    {{ .Content }}

    <p>{{ len .Pages }} entries:</p>
    <!--
    <ul>
    {{ range .Pages }}
        <li><a href="{{ .Page.Permalink }}">{{ lower .Page.File.BaseFileName }}</a></li>
    {{ end }}
    </ul>
    -->
    <div style="font-size: 0px;">
    <div style="display: inline-block; font-size:16pt; max-width: 100%;
        word-wrap: break-word; word-break: break-all; line-height: 1.5em;">
    {{ range .Pages }}
        <a href="{{ .Page.Permalink }}" style="color: black; border: solid gray 1px;">{{ .Page.File.BaseFileName | humanize | lower }}</a>
    {{ end}}
    </div>
    </div>

  </div>
{{ end }}
