{{ define "main" }}

<!-- Enable inline math; do before loading mathjax -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>

<!-- Enable tex math notation -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>


<div class="content">
  <article class="h-entry">
    {{ $baseURL := .Site.BaseURL}} <!-- because of annoying scoping -->
    <div class="e-content">

    <!-- Because the toc does not fall within the content with this hard-coded approach
      I need to set the margins explicitly to that of the {{ .Content }} -->
    <!-- TODO Why isn't that taken care of with the 'content' style above? -->
      <!-- Only show TOC when it is not empty -->
      <!--
      {{ with .TableOfContents}}
        {{ if ne . "<nav id=\"TableOfContents\"></nav>" }}
            <div id="toc" style="margin-left: 7.5rem; margin-right: 7.5rem">
            {{ . }}
            </div>
        {{ end }}
      {{ end }}
      -->
      {{ .Content }}
  </div>
  </article>
</div> <!-- end of content -->

  <hr>

{{ partial "post_metadata.html" . }}

<!-- {{ partial "link_posts.html" . }} -->

<!-- {{ partial "webmentions.html" . }} -->

<!-- {{ partial "post-comments" . }} -->

<!-- {{ partial "contribute-post" . }}-->

{{ partial "footer" . }}

{{ end }}
