{{ define "main" }}

<!-- Enable inline math; do before loading mathjax -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>

<!-- Enable tex math notation -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>


<div class="content">
  <article class="h-entry">
    {{ $baseURL := .Site.BaseURL}} <!-- because of annoying scoping -->
    <div class="e-content">

    <!-- Because the toc does not fall within the content with this hard-coded approach
      I need to set the margins explicitly to that of the {{ .Content }} -->
    <!-- TODO Why isn't that taken care of with the 'content' style above? -->
      <!-- Only show TOC when it is not empty -->
      <!--
      {{ with .TableOfContents}}
        {{ if ne . "<nav id=\"TableOfContents\"></nav>" }}
            <div id="toc" style="margin-left: 7.5rem; margin-right: 7.5rem">
            {{ . }}
            </div>
        {{ end }}
      {{ end }}
      -->
      {{ .Content }}
  </div>
  </article>
</div> <!-- end of content -->

  <hr>

  <div>

  <aside>
      <i class="fas fa-clock" style="font-size:24px;"></i>
      {{ if lt 1 .WordCount }}{{ .WordCount }} words{{ else }}{{ .WordCount }} word{{ end }} · {{ .ReadingTime }} minute read
  </aside>

  <aside>
      <i class="fa fa-home" style="font-size:24px"></i>
      <!-- Author is hard coded here; no font matter with author available -->
      <a class="u-url" href="{{ .Permalink }}">Published <time class="dt-published">{{ .Params.date.Format "2 January, 2006" }}</time> by <a rel="author" class="p-author h-card" href="{{ .Site.BaseURL }}author/edwin-wenink">Edwin Wenink</a>
  </a></aside>
  <aside>
    <i class="fas fa-tools" style="font-size:24px"></i> Last modified on {{ .Lastmod.Format "2 January, 2006"}}.
    {{ $github := .Site.Params.github}}
    {{ with .GitInfo }}
        <a href="{{$github}}commit/{{ .Hash }}" target="_blank">{{.AbbreviatedHash}} {{.Subject}}</a>
    {{ end }}
  </aside>
  </div>
  <br>

  {{ partial "link-posts.html" . }}

</div>

<!-- {{ partial "webmentions.html" . }} -->

<!-- {{ partial "post-comments" . }} -->

<!-- {{ partial "contribute-post" . }}-->

{{ end }}
