{{ define "main" }}

<h1>{{.Params.title}}</h1>
<div>
    <div class="record-image-container">
        <!-- we will proxy /discogs/* back to original link to allow CDN to cache results -->
        <img src="{{ replace .Params.cover "https://i.discogs.com" (printf "%s/discogs" .Site.BaseURL ) }}" alt="{{ .Params.title }}" class="record-image"></div>
    <div class="record-info">
        <p>Artist: {{ range .Params.artists }}{{ . }} {{ end }}</p>
        <p>Title: {{ .Params.title }}</p>
        <p>Genres: {{ range .Params.genres }}{{ . }} {{ end }}</p>
        <p>Year: {{ .Params.year }}</p>
        <p>Labels: {{ range .Params.labels | uniq }}{{ . }} {{ end }}</p>
    </div>
</div>
{{ end }}
