<div>
	<h2> Course Overview Philosophy Bachelor </h1>
	<b>Propedeutic Year</b> | Introductory courses...
	<br> ...to social and political philosophy, epistemology, philosophy of science, metaphysics, logic, rhetorics, philosophy of cognition, philosophical ethics, philosophy of language, and courses on the history of both antique, medieval, modern and contemporary philosophy.

	<br><br><b>Bachelor</b> | Major courses on...
	<br> <b>*</b> the history of philosophy (Descartes's meditations and Kant's transcendental dialectic),
	<br> <b>*</b> philosophy of language and cognition (amongst others Ryle, Wittgenstein, Fodor, Dennett, Churchland, Frege)
	<br> <b>*</b> practical philosophy (Schmitt, Plato, Thomas Aquinas, Spinoza, Taylor)
	<br> <b>*</b> fundamental philosophy (Hegel, Marx, Bloch, Koj&egraveve, Dupr&eacute)
	<br> <b>*</b> Spinoza's and Descartes' metaphysics
	<br> <b>*</b> philosophical anthropology and the history of psychoanalysis (Hacking, Foucault, Freud, Davidson)
	<br> <b>*</b> the ethics of friendship (Plato, Aristotle, Thomas Aquinas, Montaigne, Kant, Nietzsche, Foucault)
	<br> <b>*</b> philosophy as theoretical form of life in the history of philosophy (Aristotle, Hadot, Foucault, Sloterdijk, Nagel, Rorty)
	<br> <b>*</b> philosophy as a critique of culture
	<br> <b>*</b> the societal relevance of philosophy and the humanities

	<br><br> <b>Bachelor</b> | Minors (three courses each) on...
	<br><b>*</b> the philosophy of the Self (in analytical philosophy, its history, and its conception in philosophical hermeneutics)
	<br><b>*</b> the interplay between philosophical and literary methods (one methodical course and two courses where the studied methods are applied)
	<br><b>*</b> sexuality (I became interested in this topic from an anthropological point of view: insofar as it shapes human identities)
	<br><br> <b>Bachelor</b> | Thesis
	<br> on Jacques Derrida's deconstruction in <i>Of Grammatology</i>. Awarded with a 9,5
	</p>
</div>

<div>
	<h2>Course Overview Research Master Philosophy</h2>
	<p>
	<b>Specialization of Metaphysics</b> | courses on ...
	<br><b>*</b><a href="https://www.dupress.duq.edu/products/ontology-after-ontotheology-plurality-event-and-contingency-in-contemporary-philosophy"> contemporary ontology after ontotheology </a>(Badiou, Nancy, Heidegger, Plato, Agamben, Meillassoux).
	<br><b>*</b> Gadamer's <i> Truth and Method </i>
	<br><b>*</b> the philosophy of testimony, in relation to ontology (Heidegger, Derrida, Ricoeur, Foucault, Agamben, Lyotard)
	<br><b>*</b> the machinal ontology of Deleuze in <i>Anti-Oedipus</i>
	<br><b>*</b> comparison of Heidegger's and Wittgenstein's philosophies
	<br><b>*</b> Husserl's <i> The Crisis of European Sciences and Transcendental Phenomenology </i>
	<br><b>*</b> individual research on Heidegger's concept of <i> Geschick des Seins </i> as preparation of thesis
	<br><b>*</b> two courses on philosophical methods and the skills needed for scientific philosophical research

	<br><br> <b>Thesis</b> | T.B.A.
	<br> I am currently also working on a PhD-proposal
</div>

<div>
	<h2>Course Overview Bachelor Artifical Intelligence</h2>
	<p>
	<b>Propedeutic Year</b> | courses on ...
	<br><b>*</b> Mathematics (basic calculus and probability theory)
	<br><b>*</b> Frequentist Statistics
	<br><b>*</b> Cognitive Psychology
	<br><b>*</b> Linear Algebra
	<br><b>*</b> Robotics
	<br><b>*</b> Human-Computer Interaction
	<br><b>*</b> Introduction to Artificial Intelligence (Uninformed-, Informed-, Adversial search, Constraint Satisfaction, Bayesian Networks, Supervised Learning, Neural Networks)
	<br><b>*</b> Intro AI 2: Application of those methods in a agent that plays pacman (in python)
	<br><b>*</b> Course on the human brain
	<br><b>*</b> Formal Reasoning: Propositional- , Predicate- and Modal Logic, Discrete Mathematics, Language Grammars and Automata
	<br><b>*</b> Programming in Java (two courses)
	<br><b>*</b> Functional Programming

	<br><br>
	<b>Bachelor</b> | courses on...
	<br><b>*</b> Bayesian Statistics
	<br><b>*</b> Data Mining
	<br><b>*</b> Mathematics (Entropy and Information Theory, Markov Chains, Complex Numbers, Signal Theory: complex exponential signals, spectrum representations, sampling and aliasing, LTI-systems, Fourier analysis and transforms)
	<br><b>*</b> Psychology of Language
	<br><b>*</b> Foundations and implications of theoretical cognitive science
	<br><b>*</b> Neural Networks
	<br><b>*</b> Cognitive Robotics
	<br><b>*</b> Search- and Planning algorithms, Bayesian Networks, Machine Learning
	<br><b>*</b> Academic Skills for quantative research

	<br><br> <b>IN PROGRESS...<b>
