{{ define "main" }}

<div id="loadingMask" class="loading-mask"></div>
<script src="{{ "scripts/image-processing.js" | relURL }}"></script>

<div class="content">
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  <h2>Contributors</h2>
  {{ $scratch := newScratch }}
  {{ with .Site.GetPage "section" "author" }}
    <ol>
	{{ range .Pages }}
		{{ $author := .Params.author }}
		<li><a href="{{ .Permalink }}">{{ $author }}
		{{ $scratch.Set "author" $author }}
		{{ $counter := 0 }}
		{{ range where .Site.RegularPages ".Type" "posts" }}
			{{ if (or (eq .Params.author ( $scratch.Get "author" )) (in .Params.authors ( $scratch.Get "author")))}}
				{{ $counter = add $counter 1}}
			{{ end}}
		{{ end }}
		</a>
		({{ $counter }})
		</li>
	{{ end }}
	</ol>
  {{ end }}

</div>

{{ end  }}
