{{ partial "header.html" . }}

<div id="loadingMask" style="width: 100%; height: 100%; position: fixed; background: #fff;"></div>
<script>
function fadeOut(el) {
  el.style.opacity = 1;

  var last = +new Date();
  var tick = function() {
    el.style.opacity = +el.style.opacity - (new Date() - last) / 80;
    last = +new Date();
    // console.log(el.style.opacity);

    if (el.style.opacity > 0) {
      (window.requestAnimationFrame && requestAnimationFrame(tick)) || setTimeout(tick, 16);
    } else {
      el.style.display='none';
    }
  };

  tick();
}

function ready(fn) {
    if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading") {
         el = document.getElementById('loadingMask');
         fadeOut(el);
        var elements = document.querySelectorAll("img");
        Array.prototype.forEach.call(elements, function(el, i) {
            if (el.getAttribute("alt")) {
                const caption = document.createElement('figcaption');
                var node = document.createTextNode(el.getAttribute("alt"));
                caption.appendChild(node);
                const wrapper = document.createElement('figure');
                wrapper.className = 'image';
                el.parentNode.insertBefore(wrapper, el);
                el.parentNode.removeChild(el);
                wrapper.appendChild(el);
                wrapper.appendChild(caption);
            }
        });

    } else {
        document.addEventListener('DOMContentLoaded', fn);
    }
}
window.onload = ready;
</script>

<div class="content">
  <article class="h-entry">
  <h1 class="p-name">{{ .Title }} <aside>{{ range .Params.tags }}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }} </a></a>{{end}}
	   {{ if lt 1 .WordCount }}{{ .WordCount }} words{{ else }}{{ .WordCount }} word{{ end }} · {{ .ReadingTime }} minute read</aside></h1>

  <div style="margin-left: 10px; display: inline-block">
  {{ if .Params.guest }}
  <i>Guest contribution by
	  <u><a href="{{ .Site.BaseURL }}author/{{ urlize .Params.author }}"> {{ .Params.author }} </a></u></i>
  {{ end }}
  <br><br>
  </div>
  {{ if .Params.toc }}
	<div id="toc">
		{{ .TableOfContents }}
	</div>
  {{ end }}
  <div class="e-content">
  {{ .Content }}
  </div>
  <aside>
  <a class="u-url" href="{{ .Permalink }}">
      Published <time class="dt-published">{{ .Params.date }}</time>
      by <a rel="author" class="p-author h-card" href="{{ .Site.BaseURL }}author/{{urlize .Params.author}} ">{{ .Params.author }}</a>
  </a>
  </aside>
  <br>
  </article>

  <div>
	<!--Sorts pages by the publishdate field in front matter; you could use by date as well; the reverse puts the newest at the front-->
	{{$posts := ($.Site.GetPage "section" "posts").Pages.ByPublishDate.Reverse}}
	<!--Grab the most recent-->
	{{ range first 1 $posts }}
		<p><b>Latest</b>: <a href="{{ .Permalink }}">{{ .Title }}</a></p>
	{{ end }}

	{{ with .NextInSection }}
	<p><b>Next:</b> <a href="{{ .Permalink }}">{{ .Title }}</a></p>
	{{ end }}

	{{ with .PrevInSection }}
	<p><b>Previous:</b> <a href="{{ .Permalink }}">{{ .Title }}</a></p>
	{{ end }}
  </div>

</div>



<!-- {{ if (eq .Type "posts") }}
  <p><small><em>Written on {{ .Date.Format "January 2, 2006"}} </em></small></p>
{{ end }} -->

{{ partial "webmentions.html" . }}

{{ partial "post-comments" . }}

{{ partial "contribute-post" . }}

{{ partial "footer.html" . }}
