{{ define "main" }}

{{ if .Params.tex }}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{{ end }}

<div class="content">
  <article class="h-entry">
      <h1 class="p-name">{{ .Title }} <aside>{ {{ range .Params.tags }}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>{{end}} } ·
	   {{ if lt 1 .WordCount }}{{ .WordCount }} words{{ else }}{{ .WordCount }} word{{ end }} · {{ .ReadingTime }} minute read</aside></h1>

      {{ $baseURL := .Site.BaseURL}} <!-- because of annoying scoping -->

    <!-- Condition in which to add the addendum -->
    {{ if or (or (ne .Params.author "Edwin Wenink") .Params.authors) .Params.series }}
    <div class="addendum">
        <!-- Guest contribution -->
        {{ if and (ne .Params.author "Edwin Wenink") (ne .Params.author nil) }}
        <p>
          <i>Guest contribution by <u><a href="{{ .Site.BaseURL }}author/{{ urlize .Params.author }}">{{ .Params.author }} </a></u></i>
        </p>
        {{ end }}

        <!-- When co-writing -->
        {{ if .Params.authors }}
        <p>
        {{ $n_authors := len .Params.authors }}
        <i>Co-written by
        {{ range $i, $author := .Params.authors }}
            {{ if ne $i (sub $n_authors 1) }}
              <u><a href="{{ $baseURL }}author/{{ urlize $author }}">{{ $author }}</a></u> &
            {{ else}}
              <u><a href="{{ $baseURL }}author/{{ urlize $author }}">{{ $author }}</a></u>.
            {{ end }}
        {{ end }}
        </i>
        </p>
        {{ end }}

        <!-- Series -->
        {{ if .Params.series }}
        <p>
          <i>
          This post is part of the
          {{ if reflect.IsSlice .Params.series }}
          {
            {{ range .Params.series }}
            <a href="/series/{{ . | urlize }}" style='text-decoration: underline;'>{{ . }}</a>
            {{ end  }}
          }
          {{ else  }}
            <a href="/series/{{ .Params.series | urlize }}" style='text-decoration: underline;'>{{ .Params.series }}</a>
          {{ end }}
          series.
          </i>
        </p>
        {{ end }}
    </div>
    {{ end }}

  <!-- Table of contents -->
  {{ if .Params.toc }}
	<div id="toc">
		{{ .TableOfContents }}
	</div>
  {{ end }}

  <div class="e-content">
    {{ .Content }}
  </div>
  </article>
  </div> <!-- end of content -->

  <hr>

  {{ partial "post_metadata.html" . }}

  {{ partial "link_posts.html" . }}

</div>

<!-- {{ if (eq .Type "posts") }}
  <p><small><em>Written on {{ .Date.Format "January 2, 2006"}} </em></small></p>
{{ end }} -->

{{ partial "webmentions.html" . }}

<!-- {{ partial "post-comments" . }} -->

<!--{{ partial "contribute-post" . }}-->

{{ end }}
