html {
	background: black;
}
body {
	background: black;
	border-color: red;
	color: grey;
}

h1 {
	border-color: red;
}

h1 aside {
	text-decoration: none!important;
	text-decoration-color: grey;
	text-decoration-style: none;
}

h2 a {
	color: grey!important;
}

a {
	color: red!important;
}

a:hover, a:hover h4, .preview a:hover {
	background-color: black!important;
	border:solid 1px red!important;
	color: yellow!important;
}

aside {
	color: red;
}

code {
	background-color: red;
	color: black;
}

blockquote {
	background-color: black;
	border-bottom: 1px;
	border-left-color: red;
}

header a {
	color: grey!important;
}

.hljs {
	background-color: black!important;
    border-color: red!important;
    color: gray!important;
}

.preview a {
	color: grey!important;
}

.tags a {
	color: grey!important;
}


#display_normal {
	display: none;
}

#display_dark {
	display: inline;
}

.ansi-header {
	color: white;>
}

.footer {
	border-top-style: solid;
	border-top-width: 1px;
	border-color: red;
	padding-top: 12px;
}

.footer a {
	color: grey!important;
}

.post-comment, .post-comment-field, .post-comment-reply {
	background: rgba(238, 238, 238, 1);
	background: black;
	color: grey;
	border-style: solid!important;
	border-width: 1px;
	border: red;
}

.btn {
	background-color: red;
	border: 0px;
}

