{{ define "main" }}

<div class="content container">
  <h1>Archives</h1>

  <p>This page contains an overview of all <a href="{{"/about" | relLangURL }}">engrams</a> in reverse chronological order. 
  These are the more "outward facing" writings on this site, written by these <a href="{{"/authors" | relLangURL}}">authors</a>.</p>

  <p>This site also contains a lot of more ephemeral content.
  For small notes, likes, bookmarks etc. in <a href="http://microformats.org/">microformats2</a> format, have a look at the <a href="/micro">micros</a>.
  You can also have a look at my digital garden under <a href="/zettelkasten">zettelkästen</a>. 
  These notes are a constant work in progress and not necessarily intended for your reading.
  Nevertheless, I submit them to your "voyeurism."

  {{ with .Site.GetPage "section" "posts" }}
    {{ range .Data.Pages.GroupByDate "2006" }}
    
    <section>
      <h2>{{ .Key }}</h2>
	  <div class="preview">
      <ul>
        {{ range .Pages }}
		  <p>
		  <aside> {{ .Date.Format "January 2" }}
			{{ if not (eq .Params.tags nil) }}
				{{ range .Params.tags }}
					<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/" style="text-decoration:none">#{{ lower . }}</a>
				{{ end }}
			{{ end }}
		  </aside>
          <a href="{{ .Permalink }}" class="permalink">{{ .Title }}</a>
          {{ partial "collab.html" . }}
		  </p>
        {{ end }}
      </ul>
	  </div>
    </section>
    {{ end }}
  {{ end }}
</div>


{{ end }}
