{{ partial "header.html" . }}

<div class="content container">
  <h1>Archives</h1>

  {{ with .Site.GetPage "section" "posts" }}
    {{ range .Data.Pages.GroupByDate "2006" }}
    
    <section>
      <h2>{{ .Key }}</h2>
	  <div class="preview">
      <ul>
        {{ range .Pages }}
		  <p>
		  <aside> {{ .Date.Format "January 2" }} </aside>
          <a href="{{ .Permalink }}" class="permalink">{{ .Title }}</a>
		  {{ if .Params.guest }}(by {{ .Params.author }}) {{ end }}
		  </p>
        {{ end }}
      </ul>
	  </div>
    </section>

    {{ end }}
  {{ end }}

</div>

{{ partial "footer.html" . }}
