<!--<h2 id="engrams">{{ title .Data.Term  }} Engrams </h2>-->

<div class="author-portret">
<a href="{{ "~ejw" | relURL }}">
<img src="{{ "/images/portret_smooth.jpg" | relURL }}" id="display_normal" alt="Author portret should have been here" > </a>
<img src="{{ "/images/portret_zwart.gif" | relURL }}" id="display_dark" alt="Author portret should have been here" > </a>
The Digital Gardener, Edwin Wenink by <a href="https://www.ritsjoosten.nl">Rits Joosten </a>
</div>

<div class="preview">
{{ $baseURL := .Site.BaseURL}} <!-- because of annoying scoping -->
{{ $preview_n := 15 }}
{{ $counter := 0 }}
{{ range $index, $value := first 30 (where .Site.RegularPages ".Type" "posts") }}
    {{ if not (in .Params.series "Digest") }}
        {{ if lt $counter $preview_n }}
	<p>
	<aside>{{ .Date.Format "January 2, 2006"}}
		{{ partial "content/tag-list.html" . }}
	</aside>
	<!--<div class="unfold"> Use this class to unfold summary on hover-->
	<a href="{{ .Permalink }}">{{ .Title }}</a>
    {{ partial "misc/collab.html" . }}
	{{ if .Draft }} <span class="unpublished-label">(unpublished)</span>
	{{ end }}
	</p>
	{{ if (eq $index 0) }}
		<blockquote>{{ truncate 350 .Summary }}
		<p><a href="{{ .RelPermalink }}">Read more</a><p>
		</blockquote>
	{{ end }}
        {{ $counter = add $counter 1 }}
        {{ end }}
    {{ end }}
{{ end }}

<br>

<p> Read as a <a href="{{ .Site.BaseURL }}/posts">blogroll</a> or as <a href="{{ .Site.BaseURL }}/series">series</a>.<br>
See <a href="{{ .Site.BaseURL }}/archives">archives</a> for all engrams...</p>
</div>
