<footer>
</footer>
    <!-- Indieweb h-card 
    <img class="u-photo" src="images/portret.jpg" />
    <p class="p-note">Personal website</p>
    -->

	<div class="h-card vcard footer">
		<a href="mailto:edwinwenink@hotmail.com" class="u-email email metatag"> edwin wenink at hotmail dot com </a>
        <a rel="me" href="https://tilde.club/~ejw">tilde.club/~ejw</a>
		<a rel="pgpkey autn" href="https:/www.edwinwenink.xyz/page/pgp.html"> PGP </a>
		<a rel="me" href="https://www.linkedin.com/in/ejwenink/">LinkedIn</a>
		<a rel="me" href="https://github.com/EdwinWenink">GitHub</a>
		<a href="https://open.spotify.com/user/11132628344">Spotify</a>
		<a rel="me" href="https://www.last.fm/user/EdwinW/">LastFM</a>
		<a rel="me" href="https://www.discogs.com/user/EJWenink/collection">Discogs</a>
		<a rel="me" href="https://idf.social/@edwin">Mastodon</a>
		<a rel="me" href="https://radboud.academia.edu/EdwinWenink">Academia</a>
		<a href="https://freenode.net/kb/answer/registration">ejw@freenode.net</a>
        <a hidden rel="me" class="u-url p-name url author metatag" href="https://www.edwinwenink.xyz">Edwin Wenink</a>
	</div>
</body>
</html>
