{{ $url  := .RelPermalink }}
<!-- TODO refactor so the header is one line -->
<header>
    <!-- breadcrumb navigation -->
    {{ partial "breadcrumbs.html" . }}

    <div style="float: right;"/>

	<!-- Navigation Pages -->
    <div style="float: left;">
    {{ range .Site.Menus.main }}
        {{ if ne $url .URL }}
        <a href="{{ .URL }}"{{if eq .Page nil}} target="_blank"{{end}}>{{ .Name }}</a>&nbsp;&nbsp;
        {{ end }}
    {{ end }}
    </div>

	<!-- Show RSS feed in the header -->
    <div style="float: left; padding-top: 2px;">
	<a href="{{ .Site.BaseURL }}index.xml"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg></a>

	<!-- Button to toggle dark theme -->
    <!--
	<label class="switch" style="float: right;">
		<input type="checkbox" onclick="switch_style();" name="theme" id="Dark theme">
		<span class="slider"></span>
	</label>
    -->
    </div>
</header>
