<div>
<!--Sorts pages by the publishdate field in front matter; you could use by date as well; the reverse puts the newest at the front-->
{{$posts := ($.Site.GetPage "section" "posts").Pages.ByPublishDate.Reverse}}
<!--Grab the most recent-->
<aside>
{{ range first 1 $posts }}
    <p>Latest: <a href="{{ .Permalink }}">{{ .Title }}</a></p>
{{ end }}

{{ with .NextInSection }}
<p>Next: <a href="{{ .Permalink }}">{{ .Title }}</a></p>
{{ end }}

{{ with .PrevInSection }}
<p>Previous: <a href="{{ .Permalink }}">{{ .Title }}</a></p>
{{ end }}

{{ range first 1 (shuffle $posts)  }}
<p>Random: <a href="{{ .Permalink }}">{{ .Title }}</a></p>
{{ end }}
</aside>
</div>
