<div>
<!--Sorts pages by the publishdate field in front matter; you could use by date as well; the reverse puts the newest at the front-->
{{$posts := ($.Site.GetPage "section" "posts").Pages.ByPublishDate.Reverse}}
<!--Grab the most recent-->
<aside>
    <p>
{{ range first 1 $posts }}
    Latest: <a href="{{ .Permalink }}">{{ .Title }}</a>
    <br>
{{ end }}

{{ with .NextInSection }}
    Next: <a href="{{ .Permalink }}">{{ .Title }}</a>
    <br>
{{ end }}

{{ with .PrevInSection }}
    Previous: <a href="{{ .Permalink }}">{{ .Title }}</a>
    <br>
{{ end }}

{{ range first 1 (shuffle $posts)  }}
Random: <a href="{{ .Permalink }}">{{ .Title }}</a>
{{ end }}
    </p>
</aside>
</div>
