<!--
	**	TODO: Maybe do not duplicate dates when multiple posts where on the same date?
	Requires "date" to move up to the "microblog" template and to be handled differntly in these posts

	** Discovered music!
--> 

{{ $title := newScratch }}
{{ if .Title }}
    {{ $title.Set "title" .Title}}
{{ else if .Params.slug }}
    {{ humanize ($title.Set "title" .Params.slug ) }} 
{{ else }}
    {{ $title.Set "title" .Date.Format "January 2, 2006"}} 
{{ end  }}

<body>
	{{ if not .Params.event }}
	  <div class="h-entry">
		<div class="u-author h-card" style="display:none">
			<a href="{{ .Site.BaseURL }}" class="u-url p-name">Edwin Wenink</a>
		</div>
		<div class="micro">
			<a href="{{ .Permalink }}">
				<h4>{{ $title.Get "title"}}</h4>
				<aside>{{ .Date.Format "January 2, 2006"}}</aside>
			</a>
			{{ if .Params.reply }}
				<p>In reply to &#8594 <a class="in-reply-to u-in-reply-to" href="{{ .Params.target}}">{{ .Params.target }}</a></p>
			{{ end }}

			{{ if .Params.like }}
				<p>Edwin &#10084 <a class="u-like-of" href="{{ .Params.target }}"> {{ .Params.target }}</a></p>
			{{ end }}

			{{ if .Params.bookmark }}
				<p>&#128214 <a class="u-url u-uid" href="{{ .Params.target }}">{{ .Params.target }}</a></p>
			{{ end }}
    {{ else }}
		<div class="h-event">
		<div class="micro">
			<h4 class="p-name"> 
				{{ if eq .Params.category "music" }}
				    &#9836
				{{ else }}
				    &#128198
				{{ end }}
                <a href="{{ .Permalink }}">{{ $title.Get "title" }}</a>
				<a class="u-url" href={{ .Params.target }}>[link]</a>
            </h4>
                <aside><time class="dt-start">{{ .Date.Format "January 2, 2006 15:04" }}</time></aside>
    {{ end }}

    <p class="e-content">
    {{ if .Content }}
    <!--&#8620 Produces artefacts for micros of multiple paragraphs-->
    <p>{{ .Content | markdownify }}</p>
    {{ end }}
    </p>

	</div>
  </div>
</body>

