<div class="content">

	<div class="page1 " id="main">
		<div class="content1">
			<!--<h1> The Post Postponed </h1>-->
			<!--<h1>Post Ex Machina</h1>-->

			<!--
			<h1>Archive Fever <br>
			<aside>a public memory prosthesis</aside></h1>
			-->
<div style="text-align:center">
<h1 class="remove-frame" style="display: inline-block;">
	<pre class="ansi-header">
 █████╗ ██████╗  ██████╗██╗  ██╗██╗██╗   ██╗███████╗
██╔══██╗██╔══██╗██╔════╝██║  ██║██║██║   ██║██╔════╝
███████║██████╔╝██║     ███████║██║██║   ██║█████╗ 
██╔══██║██╔══██╗██║     ██╔══██║██║╚██╗ ██╔╝██╔══╝
██║  ██║██║  ██║╚██████╗██║  ██║██║ ╚████╔╝ ███████╗
╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝╚═╝  ╚═══╝  ╚══════╝
  ███████╗███████╗██╗   ██╗███████╗██████╗ 
  ██╔════╝██╔════╝██║   ██║██╔════╝██╔══██╗
  █████╗  █████╗  ██║   ██║█████╗  ██████╔╝
  ██╔══╝  ██╔══╝  ╚██╗ ██╔╝██╔══╝  ██╔══██╗
  ██║     ███████╗ ╚████╔╝ ███████╗██║  ██║
  ╚═╝     ╚══════╝  ╚═══╝  ╚══════╝╚═╝  ╚═╝
	</pre>
	<aside style="text-align:center;line-height:1.5vw; font-size: 1.5vw;">A public memory prosthesis <br> {philosophy, tech, ai} </aside></h1>
</div>

 <div class="desktop">
     <p><script type="text/javascript" src="/scripts/randomquote.js"></script></p>
 </div> 

<p>
&rarr;<a href="{{ .Site.BaseURL }}/about">/about</a>
&rarr;<a href="{{ .Site.BaseURL }}/archives">/archives</a>
&rarr;<a href="{{ .Site.BaseURL }}/archives/#tags">/#tags</a>
&rarr;<a href="{{ .Site.BaseURL }}/index.xml">/rss</a>
</p>

<!--
<h2>Index</h2>
			 <br>

			 <ul>
				 <li><u><a href="#engrams">Engrams</a></u> are memory traces.</li>
				 <li> Learn more at <u><a href="{{ .Site.BaseURL }}about">/about</a></u>.</li>
				 <li> <u><a href="{{ .Site.BaseURL }}etc/etc">/etc</a></u> contains static content such as <u><a href="{{ .Site.BaseURL }}etc/cv"> a short c.v.</a></u></li>
				 <li> Short notes at <u><a href="{{ .Site.BaseURL }}microblog">/microblog</a></u>.</li>
				 <li>Add your own name to <u><a href="{{ .Site.BaseURL }}authors">/authors</a></u>.</li>
				 <li>Subscribe to the <u><a href="{{ .Site.BaseURL }}index.xml">RSS feed</a></u>!</li>
				 </ul>
			<br> 
-->
				 <!--
			 I accept guest contributions, see <u><a href="{{ .Site.BaseURL }}/posts/27-website_purpose/">here why</a></u>.
			 <br>
			 Feedback? An idea for cooperation? 
			 Please feel free to contact me.
			 </p>
				 -->
		</div>
	</div>

<h2 id="engrams">{{ title .Data.Term  }} Engrams </h2>
<div class="author-portret">
<a href="{{ .Site.BaseURL }}~ejw">
<img src="{{ .Site.BaseURL }}/images/portret_smooth.jpg" id="portret_normal" alt="Author portret should have been here" > </a>
<img src="{{ .Site.BaseURL }}/images/portret_zwart.gif" id="portret_dark" alt="Author portret should have been here" > </a>
Edwin Wenink by <a href="https://www.ritsjoosten.nl">Rits Joosten </a>
</div>

{{ partial "posts_preview.html" . }}

{{ partial "latest_comments.html" . }}

{{ partial "tags.html" . }}

<!--{{ partial "micro_preview.html" . }}-->

{{ partial "webring.html" . }}

</div>
