<div class="content">

	<div class="page1 " id="main">
		<div class="content1">
          <h1 class="h-card u-url u-uid" rel="me" href="https://www.edwinwenink.xyz/">Edwin Wenink</h1>
		  <a href="/archives"><h2> Philosophy | Artificial Intelligence | etcetera </a></h2>
			 <br>


			<div class="author-portret">
			<a href="https://www.ritsjoosten.nl">
			<img src="{{ .Site.BaseURL }}/images/portret_smooth.jpg" id="portret_normal" alt="Author portret should have been here" > </a>
			<img src="{{ .Site.BaseURL }}/images/portret_zwart.gif" id="portret_dark" alt="Author portret should have been here" > </a>
			<a href="https://www.ritsjoosten.nl"> by Rits Joosten </a>
			</div>

		     <div class="desktop">
				 <p><script type="text/javascript" src="/scripts/randomquote.js"></script></p>
			 </div> 

			 <p> Welcome to my personal space on the web &#8623.</p>

			 <p>
			 <u><a href="#engrams">Engrams</a></u> are memory traces of whatever interests me.
			 Trace your own path through these engrams by clicking on <u><a href="#tags">tags</a></u>.
			 For more info on me and this website, see the <u><a href="{{ .Site.BaseURL }}/about">about</a></u> section.
			 The <u><a href="{{ .Site.BaseURL }}/etc/etc">etc</a></u> section contains more static content, e.g. <u><a href="{{ .Site.BaseURL }}/etc/cv"> a short c.v.</a></u>
			 There is no regular posting schedule. Subscribe to the <u><a href="{{ .Site.BaseURL }}/index.xml">RSS feed</a></u>!
			 <br><br>
			 I accept guest contributions, see <u><a href="{{ .Site.BaseURL }}/posts/27-website_purpose/">here why</a></u>.
			 <br>
			 Feedback? An idea for cooperation? 
			 Please feel free to contact me.
			 </p>
		</div>
	</div>

    <h2 id="engrams">{{ title .Data.Term  }} ENGRAMS </h2>
	<div class="preview">

	{{ range first 10 .Pages }}
    {{ if eq .Type "posts" }}
		{{ .Scratch.Get "lastPost" }}
        <p>
		<aside>{{ .Date.Format "January 2, 2006"}}</aside>
		<div class="unfold">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
		{{ if .Params.guest }} (by {{ .Params.author }}) {{ end }}
		{{ if .Draft }} <span style="color:#FF4136;">(unpublished)</span>
		{{ end }}
        </p>
		<blockquote>{{ truncate 500 .Summary }}
		<p><a href="{{ .RelPermalink }}">Read more</a><p>
		</blockquote>
		</div>
	{{ end }}
	{{ end }}

	<br>
	<p> See <a href="{{ .Site.BaseURL }}/archives"> archives </a> for more ... </p>
	</div>

	<h2 id="tags"> Tag roulette </h2>
	<div class="tags">
	{{ range .Site.Pages }} 
	{{ if eq .Type "posts"}}
		{{ range .Params.tags }}
			{{ $name := .  }}
			<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ lower $name }}</a>
		{{end}}
	{{ end }}
	{{ end }}
	</div>

</div>
