<div class="content">

	<div class="page1 " id="main">
		<div class="content1">
			<h1>sudo rm -rf / sapere aude!</h1>
			<!--<h1>Edwin Wenink</h1>-->
			<!--<h1>Dead Letter Office Wenink</h1>-->
			<!--<h1>mv /home/user/* /dev/null</h1>-->
			<!--<h1>/home/user/edwin</h1>-->
			<!--<h1>cat /dev/null: the sound of silence</h1>-->
		  <a href="/archives"><h2> Philosophy | Artificial Intelligence | etcetera </a></h2>
			 <br>

			<div class="author-portret">
			<a href="https://www.ritsjoosten.nl">
			<img src="{{ .Site.BaseURL }}/images/portret_smooth.jpg" id="portret_normal" alt="Author portret should have been here" > </a>
			<img src="{{ .Site.BaseURL }}/images/portret_zwart.gif" id="portret_dark" alt="Author portret should have been here" > </a>
			<a href="https://www.ritsjoosten.nl"> by Rits Joosten </a>
			</div>

		     <div class="desktop">
				 <p><script type="text/javascript" src="/scripts/randomquote.js"></script></p>
			 </div> 


			 <ul>
				 <li><u><a href="#engrams">Engrams</a></u> are memory traces.</li>
				 <li> Learn more at <u><a href="{{ .Site.BaseURL }}about">/about</a></u>.</li>
				 <li> <u><a href="{{ .Site.BaseURL }}etc/etc">/etc</a></u> contains static content such as <u><a href="{{ .Site.BaseURL }}etc/cv"> a short c.v.</a></u></li>
				 <li> Short notes at <u><a href="{{ .Site.BaseURL }}microblog">/microblog</a></u>.</li>
				 <li>Add your own name to <u><a href="{{ .Site.BaseURL }}authors">/authors</a></u>.</li>
				 <li>Subscribe to the <u><a href="{{ .Site.BaseURL }}index.xml">RSS feed</a></u>!</li>
				 </ul>
			<br> 
				 <!--
			 I accept guest contributions, see <u><a href="{{ .Site.BaseURL }}/posts/27-website_purpose/">here why</a></u>.
			 <br>
			 Feedback? An idea for cooperation? 
			 Please feel free to contact me.
			 </p>
				 -->
		</div>
	</div>

    <h2 id="engrams">{{ title .Data.Term  }} ENGRAMS </h2>
	<div class="preview">

	{{ range $index, $value := first 6 (where .Pages ".Type" "posts") }}
        <p>
		<aside>{{ .Date.Format "January 2, 2006"}} 
			{{ if not (eq .Params.tags nil) }}
				{{ range first 2 $value.Params.tags }}
					<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/" style="text-decoration:none">#{{ lower . }}</a>
				{{ end }}
				{{ if gt (len .Params.tags) 2 }}
					...
				{{ end }}
			{{ end }}
		</aside>
		<!--<div class="unfold"> Use this class to unfold summary on hover-->
		<div>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
		{{ if .Params.guest }} (by {{ .Params.author }}) {{ end }}
		{{ if .Draft }} <span style="color:#FF4136;">(unpublished)</span>
		{{ end }}
        </p>
		{{ if (eq $index 0) }}
			<blockquote>{{ truncate 350 .Summary }}
			<p><a href="{{ .RelPermalink }}">Read more</a><p>
			</blockquote>
		{{ end }}
		</div>
	{{ end }}

	<br>
	<p> See <a href="{{ .Site.BaseURL }}/archives"> archives</a> for more ... </p>
	</div>

	<div class="tags">
	<h2 id="tags"> Tag roulette </h2>
	<br>
	{{$tags := newScratch }}
	{{ range .Site.Pages }} 
	{{ if eq .Type "posts"}}
		{{ range .Params.tags }}
			{{ $name := lower .  }}
			{{ $array := $tags.Get "tags" }} <!-- For some reason I can't directly add this code below -->
			{{ if not (in $array $name)}}
				{{ $tags.Add "tags" (slice $name)}}
				<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ lower $name }}</a>
			{{ end }}
		{{end}}
	{{ end }}
	{{ end }}
	</div>
	<br>
    <br>

	<div>
	<h2 > micros </h2>
	{{ range first 3 (where .Site.RegularPages ".Type" "micro") }}
	<div class="hover-box">
		<p>{{ .Render "content_only" }}</p>
	</div>
	{{ end }}
	<p> See <a href="{{ .Site.BaseURL }}/microblog"> microblog</a> for more ... </p>
	<br>
	</div>
    <div class="webring">
      <a href="https://xn--sr8hvo.ws/%F0%9F%8F%BA%F0%9F%99%86%F0%9F%98%A6/previous">←</a>
      An IndieWeb Webring 🕸💍
      <a href="https://xn--sr8hvo.ws/%F0%9F%8F%BA%F0%9F%99%86%F0%9F%98%A6/next">→</a>
    </div>
</div>
