<section class="post-comments">
	
  {{ $postId := .File.BaseFileName }}

  <h3>Comments</h3>

  {{ $comments := readDir "data/comments" }}
  {{ $.Scratch.Add "hasComments" 0 }}
  {{ range $comments }}
		{{ if eq .Name $postId }}
			{{ $.Scratch.Add "hasComments" 1 }}
			<p> A comment for this post has been found, with name "{{ .Name }}" </p>
			{{ $entry := .Name }}
			{{ range $.Site.Data.comments.comment_test}}
				<div class="post-comment" >
				  <div class="post-comment-header">
					<p class="post-comment-info" style="border-bottom:1px;border-bottom-color:black"><strong>{{ .name }}</strong> on {{ dateFormat "02/01/2006" .date }}:</p>
				  </div>
				  {{ .body | markdownify }}
				</div>
				<br>
			{{ end }}
		{{ end }}
  {{ end }}

  {{ if eq ($.Scratch.Get "hasComments") 0 }}
	{{ range $comments }}
		<p>Nothing yet.</p>
	{{ end }}
  {{ end }}
</section>
