<div>
  <aside>
      <i class="fas fa-clock" style="font-size:14px;"></i>
      {{ if lt 1 .WordCount }}{{ .WordCount }} words{{ else }}{{ .WordCount }} word{{ end }} · {{ .ReadingTime }} minute read
  </aside>
  <aside>
      <i class="fa fa-home" style="font-size:14px"></i>
      <a class="u-url" href="{{ .Permalink }}">Published
      {{ if .Params.date }}
        {{ .Params.date }}
      {{ end  }}
      {{ if .Params.author }}
          by <a rel="author" class="p-author h-card" href="{{ .Site.BaseURL }}author/{{urlize .Params.author}} ">{{ .Params.author }}</a>
      {{ else }}
          by <a rel="author" class="p-author h-card" href="{{ .Site.BaseURL }}~ejw">Edwin Wenink</a>
      {{ end }}
      </a>
  </aside>
  <aside>
    <i class="fas fa-tools" style="font-size:14px"></i> Last modified on {{ .Lastmod.Format "2 January, 2006"}}.
    {{ $github := .Site.Params.github}}
    {{ with .GitInfo }}
        <a href="{{$github}}commit/{{ .Hash }}" target="_blank">{{.AbbreviatedHash}} {{.Subject}}</a>
    {{ end }}
  </aside>
</div>
