<div class="tags">
	<h2 id="tags">Tags</h2>
{{$tags := newScratch }}
{{ range .Site.Pages }} 
{{ if eq .Type "posts"}}
	{{ range .Params.tags }}
		{{ $name := lower .  }}
		{{ $array := $tags.Get "tags" }} 
		<!--
		For some reason I can't directly add this code below
		-->
		{{ if not (in $array $name)}}
			{{ $tags.Add "tags" (slice $name)}}
		{{ end }}
	{{end}}
{{ end }}
{{ end }}

{{ range sort ($tags.Get "tags") "value" "asc" }}
    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a> 
{{ end }}

</div>
<br>
<br>
