
<!-- <h2> Webmentions </h2> -->

<aside>
<div class="post-mentions" id="post-mentions" style="display:none">
    <ul class="mentions-list" id="mentions-list"></ul>
</div>
</aside>

<br>

<aside>
<form  class="webmention-form" action="https://webmention.io/www.edwinwenink.xyz/webmention" method="post">
    <div class="wm-form-label" style="display: inline-block;">Provide a <a href="https://indieweb.org/Webmention" target="_blank">webmention</a>:</div>
    <div class="form-fields" style="display: inline-block;">
      <input type="url" name="source" placeholder="Your Post URL">
      <input type="submit" value="Send Webmention">
    </div>
    <input type="hidden" name="target" value="{{ .Permalink }}">
</form>
</aside>
