<div class="webring">
  <a href="https://xn--sr8hvo.ws/%F0%9F%8F%BA%F0%9F%99%86%F0%9F%98%A6/previous">←</a>
  An IndieWeb Webring 🕸💍
  <a href="https://xn--sr8hvo.ws/%F0%9F%8F%BA%F0%9F%99%86%F0%9F%98%A6/next">→</a>
  <br>
  <a href='https://webring.xxiivv.com/#random' target='_blank'><img src='https://webring.xxiivv.com/icon.black.svg' style='max-height:2em; max-width:2em;' id='display_normal'/></a>
  <a href='https://webring.xxiivv.com/#random' target='_blank'><img src='https://webring.xxiivv.com/icon.white.svg' style='max-height:2em; max-width:2em;' id='display_dark'/></a>
</div>
