{{ define "main" }}

<div id="loadingMask" class="loading-mask"></div>
<script src="{{ "scripts/image-processing.js" | relURL }}"></script>

<div class="content">
	<h1>{{ .Params.author }} </h1>
  {{ $guest := .Page.Params.author }}
  {{ .Content }}
  {{ $scratch := newScratch }}
  {{ $author := .Params.author }}
  {{ $scratch.Set "author" $author }}
  {{ $counter := 0 }}
  {{ range where .Site.RegularPages ".Type" "posts" }}
	{{ if (or (eq .Params.author ( $scratch.Get "author" )) (in .Params.authors ( $scratch.Get "author" )) ) }}
		{{ $counter = add $counter 1}}
	{{ end}}
  {{ end }}
  <h2> Contributions by {{ $guest }} ({{ $counter }}):</h2>
  <div class="preview">
  {{ range $pageName := .Site.RegularPages }}
	  {{ if and (eq .Type "posts") ( or (in .Params.author $guest) (in .Params.authors $guest)) }}
		<p>
		<aside>{{ .Date.Format "January 2, 2006"}}
			{{ partial "tag-list.html" . }}
		</aside>
		
		<a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} <span class="unpublished-label">(unpublished)</span>{{ end }}</p>
	  {{ end }}
  {{ end }}
  </div>

  <hr>
  See all <u><a href="{{ .Site.BaseURL }}authors/">contributing authors</a></u>.
</div>

{{ end  }}
