<!DOCTYPE html>
<html>
<head>
	<title> Edwin Wenink </title>
	<link rel="shortcut icon" href="images/phi-icon.jpg"/>
	
	<style>
	html, body {
		  height: 100%;
		  max-width: 100%;
		  min-height: 100%;  
		  padding: 0;
		  margin: 0;
		  background-color: #FFF;
		  font-size:2em;
	</style>
</head>
<body>
	<div>
		<pre><b><font>
                 .:.       .-------- - -
      \__/    .:. | .:.    | 404==666.
      |oo|      \_|_/    --:
    __`--'__      |        | "Once meek, and 
   | |  ___ |___.-|.       | in a perilous path,
 . | | |404 |___ (|        | The just man kept his
/|\| | `~~~ |   `-:        | course along 
 | | | : : :|     |        | The vale of death."
 `.| |      |     |        :  
   `-`-.--.-'              | Are you sure you are
     _| : |__              | on the right path?
    |__|__:__|             .--------- - -
	
		</b></pre></font>
	</div>
</body>
