{{ define "main" }}

<div class="content">

{{ partial "content/title.html" . }}

{{ $preview_n := 15 }}
{{ range $index, $value := first $preview_n .Data.Pages }}
	<p>
	<aside>{{ .Date.Format "January 2, 2006"}}
		{{ partial "content/tag-list.html" . }}
	</aside>
	<!--<div class="unfold"> Use this class to unfold summary on hover-->
	<a href="{{ .Permalink }}">{{ .Title }}</a>
	{{ if .Params.guest }} (by {{ .Params.author }}) {{ end }}
	{{ if .Draft }} <span class="unpublished-label">(unpublished)</span>
	{{ end }}
	</p>
	{{ if (eq $index 0) }}
		<blockquote>{{ truncate 350 .Summary }}
		<p><a href="{{ .RelPermalink }}">Read more</a><p>
		</blockquote>
	{{ end }}
{{ end }}

<br>
<p> See <a href="{{ .Site.BaseURL }}/archives"> archives</a> for more ... </p>
</div>

<!-- {{ partial "comments/latest_comments.html" . }} -->

<!-- {{ partial "content/tags.html" . }} -->

<!-- {{ partial "content/micro_preview.html" . }} -->

{{ partial "footer/webring.html" . }}

</div>

{{ end }}
