<!-- Use the following if you have your gallery at static/gallery -->
<!-- $img_path below is default Go .FileInfo object. e.g. with .Name and .ModTime property-->
<!-- Notice I hardcoded the JPG to deal with thumbnails being converted to .jpg -->
{{ $base := .Get "src" }}
{{ $path := print "static/" (.Get "src") }}
{{ $image_paths := readDir $path }}
{{- range $img_path := $image_paths}}
    {{- $thumbext := "-thumb" }}
    {{- $isthumb := .Name | findRE ($thumbext | printf "%s\\.") }}
    {{- $isimg := lower .Name | findRE "\\.(gif|jpg|jpeg|tiff|png|bmp)" }}
    {{- if and $isimg (not $isthumb) }}
    {{- $thumb := .Name | replaceRE "(\\.{JPG}?)" ($thumbext | printf "%s.") }}
        <a data-fancybox="gallery" href="/{{ $base }}/{{ .Name }}">
            <img src="/{{ $base  }}/{{ $thumb }}"><br/>
        </a>
    {{- end }}
{{ end }}
</div>

